NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=periodico
JWT_SECRET=change-this-secret-key
JWT_EXPIRES_IN=1d
COOKIE_NAME=access_token
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173,http://127.0.0.1:3000,http://10.0.2.2:5173,http://10.0.2.2:3000,http://10.0.3.2:5173,http://10.0.3.2:3000
ADMIN_EMAIL=Admin@example.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_NAME=Administrador
